<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <title>New</title>
  </head>
  <body>
    <div class="topnav">
      <nav class="navMenu">
         <a href="/recipes"> <button>Home</button></a>
         <a href="/recipes"><button>Recipes</button></a>
         <!-- <a href="#">About</a> -->
         <a href="/recipes"><button>Back</button></a>
         <!-- <a href="/recipes/new">
           <button>Add recipes</button></a><br> -->
       </nav>
   </div> <br>
    <fieldset>
    <legend>NEW | Add New Item</legend>
    <form action="/recipes" method="POST">
      Name: 
      <br>
      <input type="text" name="name" placeholder="Name of Food" /> <br />
      Description: 
      <br>
      <input type="text" name="description" placeholder="Description of Food" /> <br />
      Img: <br>
      <input type="url" name="img" placeholder="Image of Food" /> <br />
      <!-- Ingredients:<br>
       <input type="tex" name="ingredients" placeholder="Name of Ingredients" /> <br /> -->
       Ingredients:<br>
      <textarea name="ingredients" id="" cols="30" rows="5" placeholder="Instruction for preparation" ></textarea> <br />
      <!-- instructions: <input type="text" name="instructions"> <br/> -->
      Instructions: <br />
      <textarea name="instructions" id="" cols="30" rows="5" placeholder="Instruction for preparation" ></textarea> <br />
      <!-- <input type="submit" value="add recipe" /> -->
    </fieldset> <br>
      <button type="submit">Add Recipe</button>
    </form>
  </body>
</html>
